/*Base 1920 x 1080*/
/* 1440 x 900*/
@media screen and (max-width: 1440px) {
  /*HEADER*/
  .nav {
    margin-top: 5px;
  }

  .nav-logo img {
    margin-left: 30px;
  }

  /*Menu*/

  ul {
    margin-left: 0px;
  }
  /*index*/
  /*presentacion*/

  .main-presentacion {
    grid-template-rows: 0.1fr 4fr 0.1fr;
  }

  .imghello {
    margin-top: 20px;
    width: 180px;
  }

  .h2-1 {
    margin-left: 10px;
  }

  .h2-2 {
    margin-left: 110px;
  }

  .h3-rol {
    margin-left: 12px;
  }

  .datosP {
    font-size: 20px;
    margin-left: 10px;
  }

  .p-resultado {
    margin-left: 190px;
  }

  .p-resultado-i {
    margin-left: 190px;
    font-size: 20px;
  }

  /*div social*/

  .social-icons img {
    height: 40px;
  }

  .fmain a {
    font-size: 40px;
  }

  /*Educacion*/

  .hab {
    font-size: 40px;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }

  .h2-1po {
    margin: 60px 0px 0px 50px;
  }

  .divInt-1po {
    width: 700px;
    margin-left: 50px;
  }

  .img-1po {
    width: 90%;
    margin: 50px 50px 50px 5px;
  }

  .h2-2po {
    margin-top: 40px;
  }

  .divInt-2po {
    width: 700px;
  }

  .img-2po {
    width: 90%;
    margin: 50px 50px 50px;
  }

  .button-blog {
    margin: 10px 200px 10px;
  }

  .button-vot {
    margin: 10px 250px 10px;
  }
}
/* 1366 x 768*/
@media screen and (max-width: 1366px) {
  /*index*/
  .home-main-i {
    margin-top: -30px;
  }

  .datosP {
    margin-top: 130px;
    margin-left: 10px;
    height: 45%;
  }

  /*educacion*/
  .main-container {
    margin-top: -20px;
  }

  .div-p p {
    margin: 30px 20px;
    color: white;
    padding: 20px;
    background-color: #27262c;
    border-radius: 10px;
  }

  .table-1 {
    margin-top: 0px;
  }

  .hab {
    width: 80%;
  }

  .div-est1 {
    padding: 5px;
  }

  /*portafolio*/
  .div-1po {
    margin-top: 20px;
  }
}
