@media only screen and (max-width: 1600px) {
  .nav-logo img {
    margin-top: -1.25vw;
  }

  ul {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1440px) {
  .nav-logo img {
    margin-top: -1.3vw;
  }
  .div-1cert {
    height: 12%;
  }
}

@media only screen and (max-width: 1281px) {
  .home-main {
    grid-template-columns: 0.3fr 4fr 0.3fr;
  }

  .nav {
    margin-top: 20px;
  }

  .nav-back-i {
    height: 80%;
  }

  .nav-logo img {
    margin-top: -15px;
    width: 130px;
  }

  ul {
    margin-top: 10px;
    margin-left: 0px;
  }
  .p-resultado {
    margin-left: 170px;
  }

  .p-resultado-i {
    margin-left: 170px;
  }
}
/*720 x 1280*/
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .menu-checkbox {
    display: block;
    margin-top: 3.7vw;
  }
  .menu-check1 {
    display: block;
    margin-top: 45px;
    font-size: 3vw;
  }
  .btn-menu {
    width: 50px;
    height: 50px;
  }
  .nav-back-i {
    margin-top: 1vw;
  }

  .nav {
    margin-top: 1vw;
  }
  .nav-logo img {
    margin-top: -1vw;
    margin-left: 1vw;
    width: 130px;
  }

  ul {
    margin-left: -10px;
    margin-top: 1.5vw;
  }
  li {
    margin-left: 10px;
    font-size: 2.5vw;
  }

  li:hover {
    border-bottom: 1px solid white;
    padding: 0px;
  }

  li:hover:before {
    content: "";
  }

  li:hover:after {
    content: "";
  }

  /*Main index*/

  .home-main-i {
    grid-template-columns: 0.3fr 4fr 0.3fr;
    grid-template-rows: 1.5fr 10fr 1fr;
    position: initial;
  }

  /*Main*/

  .home-main {
    grid-template-columns: 0.1fr 4fr 0.1fr;
  }

  .main-container {
    grid-column: 2;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  /*presentacion*/

  .main-presentacion {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 0.3fr 4fr 0.3fr;
    grid-template-rows: 0.01fr 0.2fr 0.1fr 1fr 0.9fr;
  }

  .imghello {
    margin-left: 30%;
    width: 23%;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }

  .h2-1 {
    position: relative;
    font-size: 4vw;
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    margin-bottom: 4%;
  }

  .h3-rol {
    position: relative;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    font-size: 3.5vw;
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }

  .datosP {
    width: 90%;
    height: auto;
    font-size: 2.5vw;
    padding: 3% 1%;
    margin: 2% 0px;
    background-color: #a0a0a0a8;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 5;
    align-self: first baseline;
  }

  .dato-intp {
    margin-left: -20px;
    font-family: sans-serif;
    font-size: 110%;
  }

  .p-datos {
    font-weight: bold;
    padding: 0;
    margin-left: 3.5vw;
    position: absolute;
  }

  .p-resultado {
    text-transform: none;
    margin-left: 23vw;
    margin-bottom: 1vw;
  }

  .p-resultado-i {
    text-transform: none;
    margin-left: 23vw;
    margin-bottom: 1vw;
    font-size: 3vw;
  }
  .p-resultado-i:hover {
    opacity: 0.8;
  }
  .imgM {
    width: 70%;
    grid-column: 2;
    grid-row: 4;
    border-radius: 10px;
    border-style: solid;
    margin-top: 10px;
  }

  /*div social*/

  .social-icons {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-left: -60px;
  }

  .social-icons img {
    width: auto;
    height: 50px;
    display: flex;
  }

  .fmain {
    display: grid;
    background-color: #3473a9;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    border-style: solid;
    border-top: none;
    border-top-style: none;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
  }

  .fmain a {
    display: block;
    color: white;
    font-size: 50px;
    margin-right: 15px;
    text-align: center;
  }

  .fmain a:hover {
    opacity: 0.5;
  }

  /*Acerca de mi*/
  .div-1ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-row-gap: 1rem;
  }

  .div-2ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr 1fr;
    grid-row-gap: 1rem;
  }

  .h2-1ac {
    font-size: 4.5vw;
    grid-column: 2;
    grid-row: 1;
  }

  .img-1ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }

  .divInt-1ac {
    margin: 0px;
    width: 100%;
    height: 70%;
    grid-column: 2;
    grid-row: 3;
  }
  .p-1ac {
    font-size: 2vw;
    height: auto;
  }

  .h2-2ac {
    margin: 0px 0px 10px;
    font-size: 4.5vw;
    grid-column: 2;
    grid-row: 1;
  }

  .img-2ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }
  .divInt-2ac {
    margin: 0px;
    width: 100%;
    height: 70%;
    grid-column: 2;
    grid-row: 3;
  }
  .h2-3ac {
    margin: 0px;
    font-size: 4.5vw;
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
  }
  .img-3ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }
  .divInt-3ac {
    margin: 0px;
    width: 100%;
    height: 70%;
    grid-column: 2;
    grid-row: 3;
  }

  /*Educacion*/

  .hab {
    margin: 100px auto 0px;
    font-size: 4.5vw;
  }

  .hab1 {
    margin: 30px auto 0px;
    font-size: 4.5vw;
  }
  .div-p p {
    margin-top: 20px;
    font-size: 2vw;
  }

  .table-1 {
    margin-top: -70px;
    width: 100%;
  }

  .table-1 h2 {
    font-size: 3vw;
  }

  .div-est1 img {
    width: 7vw;
    margin: 0px;
  }

  .div-est1 {
    padding: 10px;
    background-color: #27262c;
    border-radius: 10px;
  }

  .div-cert-pos {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 70%;
  }

  .div-1cert {
    margin-top: 50px;
    display: grid;
    height: 14%;
    grid-template-columns: 0.1fr 4fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 8fr 0.5fr;
    background-color: #27262c;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    border-style: ridge;
  }

  .div-cert-pos {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 70%;
  }

  .divInt-1cert {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    border-radius: 10px;
  }

  .h2-1cert {
    font-size: 3vw;
    color: white;
    grid-column: 2;
    grid-row: 2;
  }

  .p-1cert {
    font-size: 2.3vw;
    color: white;
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
  }
  .p-12cert {
    font-size: 2.2vw;
    color: white;
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 20px;
  }

  .img-1cert {
    position: relative;
    width: 50%;
    grid-column: 3;
    grid-row: 2;
  }

  .div-button-cert1 {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-cert1 {
    background-color: #3473a9;
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }

  .button-cert1:hover {
    text-shadow: 0 -1px 0 #000000;
    background-color: #4996da;
  }

  .Utilizado-cert {
    margin: 10px 20px 0px 0px;
    width: 27%;
    background-color: #4996da;
    border-radius: 10px;
    display: inline-block;
    cursor: default;
  }

  .Utilizado-cert p {
    font-size: 2.5vw;
    color: black;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.6fr 0.1fr 3fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .h2-1po {
    font-size: 4.5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-1po {
    width: 80%;
    height: 100%;
    margin: 0px;
    border-radius: 10px;
    border-style: solid;
    grid-column: 2;
    grid-row: 3;
  }

  .div-button-blog {
    grid-column: 2;
    grid-row: 3;
    margin: 0px;
    display: flex;
  }

  .button-blog {
    position: relative;
    margin-top: 10px;
  }

  .divInt-1po {
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 4;
    margin: 0px;
  }
  .p-1po {
    color: white;
    text-align: justify;
    font-size: 2vw;
  }

  .Utilizado {
    margin: 15px 5px;
    font-size: 2.2vw;
    width: calc(32% - 10px);
    display: inline-block;
    box-sizing: border-box;
  }

  .h2-2po {
    font-size: 4.5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-2po {
    width: 80%;
    height: 100%;
    margin: 0px;
    background-position: 0px -8px;
    background-size: 370px 280px;
  }

  .divInt-2po {
    height: 80%;
    width: 100%;
    grid-column: 2;
    font-size: 13px;
    margin: 0px 0px;
    grid-row: 4;
  }
  .p-2po {
    color: white;
    text-align: justify;
    font-size: 2vw;
  }
  .div-button-votante {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    margin: 0px;
  }
  .button-vot {
    background-color: #3473a9;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }
  .button-vot {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 719px) {
  .menu-checkbox {
    display: block;
    margin-top: 3.7vw;
    margin-right: 2vw;
  }
  .menu-check1 {
    display: block;
    font-size: 4.5vw;
    margin-top: 32px;
  }
  .btn-menu {
    width: 50px;
    height: 50px;
  }
  .nav-back-i {
    margin-top: 1vw;
  }

  .nav {
    margin-top: 1vw;
  }
  .nav-logo img {
    margin-top: -1vw;
    margin-left: 1vw;
    width: 19vw;
  }

  ul {
    margin-left: -10px;
    margin-top: 2vw;
  }
  li {
    margin-left: 1vw;
    font-size: 3.4vw;
  }

  li:hover {
    border-bottom: 1px solid white;
    border-radius: 4px;
    padding: 1px;
  }

  li:hover:before {
    content: "";
  }

  li:hover:after {
    content: "";
  }

  /*Main index*/

  .home-main-i {
    grid-template-columns: 0.3fr 4fr 0.3fr;
    grid-template-rows: 1.5fr 10fr 1fr;
    position: initial;
  }

  /*Main*/

  .home-main {
    grid-template-columns: 0.1fr 4fr 0.1fr;
  }

  .main-container {
    grid-column: 2;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  /*presentacion*/

  .main-presentacion {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.1fr 1fr 0.7fr 0fr;
  }

  .imghello {
    margin-left: 30%;
    width: 30%;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }

  .h2-1 {
    position: relative;
    font-size: 5vw;
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    margin-bottom: 4%;
  }

  .h3-rol {
    position: relative;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    font-size: 3.5vw;
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }

  .datosP {
    width: 90%;
    height: auto;
    font-size: 2.5vw;
    padding: 3% 1%;
    margin: 2% 0px;
    background-color: #a0a0a0a8;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 5;
    align-self: first baseline;
  }

  .dato-intp {
    margin-left: -20px;
    font-family: sans-serif;
    font-size: 110%;
  }

  .p-datos {
    font-weight: bold;
    padding: 0;
    margin-left: 7vw;
    position: absolute;
  }

  .p-resultado {
    text-transform: none;
    margin-left: 30vw;
    margin-bottom: 1vw;
  }

  .p-resultado-i {
    text-transform: none;
    margin-left: 30vw;
    margin-bottom: 1vw;
    font-size: 3vw;
  }

  .imgM {
    width: 70%;
    grid-column: 2;
    grid-row: 4;
    border-radius: 10px;
    border-style: solid;
    margin: 20px;
  }

  /*div social*/

  .social-icons {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-left: -60px;
  }

  .social-icons img {
    width: auto;
    height: 50px;
    display: flex;
  }

  .fmain {
    display: grid;
    background-color: #3473a9;
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    border-style: solid;
    border-top: none;
    border-top-style: none;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
  }

  .fmain a {
    display: block;
    color: white;
    font-size: 50px;
    margin-right: 15px;
    text-align: center;
  }

  .fmain a:hover {
    opacity: 0.5;
  }

  /*Acerca de mi*/
  .div-1ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-row-gap: 1rem;
  }

  .div-2ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr 1fr;
    grid-row-gap: 1rem;
  }

  .h2-1ac {
    font-size: 5vw;
    grid-column: 2;
    grid-row: 1;
  }

  .img-1ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }

  .divInt-1ac {
    margin: 0px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
  }
  .p-1ac {
    font-size: 2.5vw;
    height: auto;
  }

  .h2-2ac {
    margin: 0px 0px 10px;
    font-size: 5vw;
    grid-column: 2;
    grid-row: 1;
  }

  .img-2ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }
  .divInt-2ac {
    margin: 0px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
  }
  .h2-3ac {
    margin: 0px;
    font-size: 5vw;
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
  }
  .img-3ac {
    margin-top: 0px;
    height: 55vw;
    width: 55vw;
    grid-column: 2;
    grid-row: 2;
  }
  .divInt-3ac {
    margin: 0px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
  }

  /*Educacion*/

  .hab {
    margin: 100px auto 0px;
    font-size: 5vw;
  }

  .hab1 {
    margin: 30px auto 0px;
    font-size: 5vw;
  }
  .div-p p {
    margin-top: 20px;
    font-size: 3vw;
  }

  .table-1 {
    margin-top: -70px;
    width: 100%;
  }

  .table-1 h2 {
    font-size: 3vw;
  }

  .div-est1 img {
    width: 7vw;
    margin: 0px;
  }

  .div-est1 {
    padding: 10px;
    background-color: #27262c;
    border-radius: 10px;
  }

  .div-cert-pos {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 70%;
  }

  .div-1cert {
    margin-top: 50px;
    display: grid;
    height: 12%;
    grid-template-columns: 0.1fr 4fr 1fr 0.1fr;
    grid-template-rows: 0.5fr 8fr 0.5fr;
    background-color: #27262c;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    border-style: ridge;
  }

  .div-cert-pos {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 70%;
  }

  .divInt-1cert {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    border-radius: 10px;
  }

  .h2-1cert {
    font-size: 3vw;
    color: white;
    grid-column: 2;
    grid-row: 2;
  }

  .p-1cert {
    font-size: 2.5vw;
    color: white;
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
  }
  .p-12cert {
    font-size: 2.4vw;
    color: white;
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 20px;
  }

  .img-1cert {
    position: relative;
    width: 50%;
    grid-column: 3;
    grid-row: 2;
  }

  .div-button-cert1 {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-cert1 {
    background-color: #3473a9;
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }

  .button-cert1:hover {
    text-shadow: 0 -1px 0 #000000;
    background-color: #4996da;
  }

  .Utilizado-cert {
    margin: 10px 0px 0px 0px;
    width: calc(33% - 10px);
    background-color: #4996da;
    border-radius: 10px;
    display: inline-block;
    cursor: default;
  }

  .Utilizado-cert p {
    font-size: 2.5vw;
    color: black;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.6fr 0.1fr 3fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .h2-1po {
    font-size: 5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-1po {
    width: 80%;
    height: 100%;
    margin: 0px;
  }

  .div-button-blog {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    margin: 0px;
  }

  .button-blog {
    margin-top: 10px;
  }

  .divInt-1po {
    height: 100%;
    width: 100%;
    grid-column: 2;
    font-size: 13px;
    margin: 0px 0px;
    grid-row: 4;
  }
  .p-1po {
    color: white;
    text-align: justify;
    font-size: 2.5vw;
  }

  .Utilizado {
    margin: 15px 5px;
    font-size: 2.5vw;
    width: 28%;
  }

  .h2-2po {
    font-size: 5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-2po {
    width: 80%;
    height: 100%;
    margin: 0px;
  }

  .divInt-2po {
    height: 100%;
    width: 100%;
    grid-column: 2;
    font-size: 13px;
    margin: 0px 0px;
    grid-row: 4;
  }
  .p-2po {
    color: white;
    text-align: justify;
    font-size: 2.5vw;
  }
  .div-button-votante {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    margin: 0px;
  }

  .button-vot {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .menu-checkbox {
    display: block;
    margin-top: 6vw;
    margin-right: 2vw;
  }
  .menu-check1 {
    display: block;
    margin-top: 40px;
    margin-right: 60px;
  }

  .btn-menu {
    width: 45px;
    height: 45px;
  }
  .nav-back-i {
    margin-top: 1vw;
    height: 80%;
  }

  .nav-logo img {
    margin-top: 1vw;
  }

  ul {
    margin-left: -5px;
    margin-top: 4vw;
  }
  li {
    margin-left: 0vw;
    font-size: 3.2vw;
  }
  .main-container {
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .main-presentacion {
    grid-template-rows: 0.1fr 0.2fr 0.1fr 1fr 0.8fr 0fr;
  }
  .imghello {
    width: 33%;
  }
  .h2-1 {
    font-size: 5vw;
    margin-left: 5%;
  }

  .h3-rol {
    margin-top: 9%;
    font-size: 4vw;
  }

  .datosP {
    font-size: 3vw;
  }
  .p-resultado-i {
    font-size: 3vw;
  }

  .social-icons img {
    height: 50px;
  }
  .fmain {
    height: 15vw;
  }

  /*sobre mi*/
  .p-1ac {
    font-size: 3vw;
  }

  .div-1ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.1fr 1fr 0.9fr;
    grid-row-gap: 1rem;
  }

  .div-2ac {
    display: grid;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.1fr 1fr 0.9fr;
    grid-row-gap: 1rem;
  }

  .div-1cert {
    margin-top: 30px;
    display: grid;
    height: 180px;
  }

  .Utilizado-cert {
    margin: 5px 0px 0px 0px;
    width: 30%;
  }

  .Utilizado-cert p {
    font-size: 2.5vw;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.8fr 0.1fr 3fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .h2-1po {
    font-size: 5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-1po {
    width: 80%;
    height: 100%;
    margin: 0px;
    border-radius: 10px;
    border-style: solid;
    grid-column: 2;
    grid-row: 3;
  }

  .div-button-blog {
    grid-column: 2;
    grid-row: 3;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .divInt-1po {
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 4;
    margin: 0px;
  }
  .p-1po {
    color: white;
    text-align: justify;
    font-size: 2.5vw;
  }

  .Utilizado {
    margin: 15px 5px;
    width: 28%;
  }

  .h2-2po {
    font-size: 5vw;
    margin: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .img-2po {
    width: 80%;
    height: 100%;
    margin: 0px;
    background-position: 0px -8px;
    background-size: 370px 280px;
  }

  .divInt-2po {
    height: 100%;
    width: 100%;
    grid-column: 2;
    font-size: 13px;
    margin: 0px 0px;
    grid-row: 4;
  }
  .p-2po {
    color: white;
    text-align: justify;
    font-size: 2.5vw;
  }
  .div-button-votante {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .button-blog {
    font-size: 13px;
    padding: 8px 20px;
  }
  .button-vot {
    font-size: 13px;
    padding: 8px 20px;
  }
}
@media screen and (max-width: 430px) {
  /*div social*/

  .social-icons {
    margin-left: -40px;
  }

  .social-icons img {
    height: 40px;
  }

  .fmain a {
    font-size: 40px;
    margin-right: 15px;
  }
}
/*430px × 932px*/
@media screen and (max-width: 400px) {
  .menu-checkbox {
    margin-top: 6.5vw;
  }
  .menu-check1 {
    display: block;
    margin-top: 35px;
    margin-right: 50px;
  }

  .btn-menu {
    width: 35px;
    height: 35px;
  }

  .nav-logo img {
    margin-top: 1vw;
  }

  ul {
    margin-left: 5px;
    margin-top: 3vw;
  }
  li {
    margin-left: -3vw;
    font-size: 3vw;
  }
  .nav {
    margin-top: 5px;
    height: 60px;
  }

  .nav-back-i {
    margin-top: 9px;
    height: 100%;
  }

  li:hover {
    border-bottom: 0px solid white;
  }
  /*acerda mi*/

  .h2-1ac {
    margin-top: 74px;
  }

  /*estudios*/

  .hab {
    margin-top: 85px;
  }
  .h2-1po {
    margin-top: 0px;
  }
}

/*375 x 667*/
@media screen and (max-width: 375px) {
}
/*360 x 640*/
@media screen and (max-width: 358px) {
  /**REVISAR CHECKBOX*/
  .menu-checkbox {
    margin-top: 6.1vw;
    margin-right: 5px;
    right: 0;
  }
  .menu-check1 {
    margin-top: 35px;
    margin-right: 50px;
    right: 0;
    font-size: 4vw;
  }
  .nav-back-i {
    margin-top: 10px;
    opacity: 90%;
    height: 80%;
  }

  .div-1po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.8fr 0.1fr 2.5fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 1.5fr 1.3fr;
    grid-row-gap: 1rem;
  }

  .Utilizado {
    margin: 10px 0px;
    width: 31%;
    font-size: 3vw;
  }
  .button-blog {
    font-size: 13px;
    padding: 5px 15px;
  }
  .button-vot {
    font-size: 13px;
    padding: 5px 15px;
  }
  .img-1po {
    width: 80%;
    height: 100%;
  }

  .img-2po {
    width: 80%;
    height: 90%;
  }
}

/*320 x 585*/
@media screen and (max-width: 340px) {
  .menu-checkbox {
    margin-top: 6.7vw;
  }
  .menu-check1 {
    display: block;
    margin-top: 35px;
    margin-right: 50px;
  }

  .btn-menu {
    width: 35px;
    height: 35px;
  }

  .nav-logo img {
    margin-top: 0vw;
    margin-left: 2vw;
    width: 80px;
    transition: transform 0.3s ease-in-out;
  }

  ul {
    margin-left: 20px;
    margin-top: 3vw;
  }
  li {
    margin-left: -7vw;
    font-size: 3vw;
  }

  .main-container {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  /*div social*/

  .social-icons {
    margin-left: -20px;
  }

  .social-icons img {
    height: 35px;
  }

  .fmain a {
    font-size: 35px;
    margin-right: 15px;
  }

  /*acerda mi*/

  .h2-1ac {
    margin-top: 85px;
  }

  /*estudios*/

  .hab {
    margin-top: 85px;
  }
}
@media screen and (max-width: 330px) {
  .menu-checkbox {
    margin-top: 6.7vw;
  }
  .menu-check1 {
    display: block;
    margin-top: 35px;
    margin-right: 50px;
  }

  .btn-menu {
    width: 35px;
    height: 35px;
  }

  .nav-logo img {
    margin-top: 0vw;
    margin-left: 2vw;
    width: 80px;
    transition: transform 0.3s ease-in-out;
  }

  ul {
    margin-left: 10px;
    margin-top: 3vw;
  }
  li {
    margin-left: -8vw;
    font-size: 3vw;
  }
}
