/*Base 1920 x 1080*/

@media screen and (max-width: 1920px) {
  .menu-checkbox {
    display: none;
  }
}
/* 1440 x 900*/
@media screen and (max-width: 1440px) {
  .menu-checkbox {
    display: none;
  }

  /*HEADER*/
  .nav {
    margin-top: 20px;
  }

  .nav-logo img {
    margin-left: 30px;
  }
  .nav-back {
    margin-top: 20px;
  }

  /*Menu*/

  ul {
    margin-left: 0px;
  }
  /*index*/
  /*presentacion*/

  .main-presentacion {
    grid-template-rows: 0.1fr 4fr 0.1fr;
  }

  .imghello {
    margin-top: 20px;
    width: 180px;
  }

  .h2-1 {
    margin-left: 10px;
  }

  .h2-2 {
    margin-left: 110px;
  }

  .h3-rol {
    margin-left: 12px;
  }

  .datosP {
    font-size: 20px;
    margin-left: 10px;
  }

  .p-resultado {
    margin-left: 190px;
  }

  .p-resultado-i {
    margin-left: 190px;
    font-size: 20px;
  }

  /*div social*/

  .social-icons img {
    height: 40px;
  }

  .fmain a {
    font-size: 40px;
  }

  /*Educacion*/

  .hab {
    font-size: 40px;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }

  .h2-1po {
    margin: 60px 0px 0px 50px;
  }

  .divInt-1po {
    width: 700px;
    margin-left: 50px;
  }

  .img-1po {
    width: 90%;
    margin: 50px 50px 50px 5px;
  }

  .h2-2po {
    margin-top: 40px;
  }

  .divInt-2po {
    width: 700px;
  }

  .img-2po {
    width: 90%;
    margin: 50px 50px 50px;
  }

  .button-blog {
    margin: 10px 200px 10px;
  }

  .button-vot {
    margin: 10px 250px 10px;
  }
}
/* 1366 x 768*/
@media screen and (max-width: 1366px) {
  .menu-checkbox {
    display: none;
  }
  /*index*/
  .home-main-i {
    margin-top: 0px;
  }

  .datosP {
    margin-top: 160px;
    margin-left: 10px;
    height: 45%;
  }

  /*educacion*/
  .main-container {
    margin-top: -20px;
  }

  .div-p p {
    margin: 30px 20px;
    color: white;
    padding: 20px;
    background-color: #27262c;
    border-radius: 10px;
  }

  .table-1 {
    margin-top: 0px;
  }

  .hab {
    width: 80%;
  }

  .div-est1 {
    padding: 5px;
  }

  /*portafolio*/
  .div-1po {
    margin-top: 20px;
  }
}
/* 720 x 1280*/
@media screen and (max-width: 720px) {
  .menu-checkbox {
    display: block;
  }

  .nav {
    margin-top: 20px;
    transition: all 1s;
  }

  .nav-logo img {
    margin-top: -50px;
    margin-left: -10px;
    width: 200px;
  }

  /*Menu*/

  ul {
    margin-top: 20px;
    margin-left: -10px;
  }
  li {
    padding: 10px 5px;
    font-size: 20px;
  }

  /*Main index*/

  .body {
    background-repeat: repeat;
  }

  .home-main-i {
    margin-top: 100px;
    grid-template-columns: 0.2fr 4fr 0.2fr;
    grid-template-rows: 0.3fr 4fr 0.6fr;
  }

  /*Main*/

  .home-main {
    grid-template-columns: 0.2fr 4fr 0.2fr;
  }

  /*presentacion*/

  .main-presentacion {
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.1fr 1fr 2fr 1.5fr 0.3fr;
  }

  .imghello {
    right: 0;
    margin-right: 60px;
    width: 200px;
    grid-column: 3;
    grid-row: 2;
  }

  .h2-1 {
    margin-left: 50px;
    grid-column: 2;
    grid-row: 2;
  }

  .h2-2 {
    margin-left: 150px;
    margin-top: 100px;
    grid-column: 2;
    grid-row: 2;
  }

  .h3-rol {
    margin-left: 50px;
    grid-column: 2;
    grid-row: 2;
  }

  .datosP {
    height: 70%;
    grid-column: 2;
    grid-row: 4;
    margin: -30px 0px 0px 50px;
  }

  .dato-intp {
    margin-left: -20px;
  }

  .imgM {
    width: 80%;
    grid-column: 2;
    grid-row: 3;
    margin: auto;
  }

  /*div social*/

  .social-icons img {
    height: 50px;
  }

  .fmain a {
    font-size: 50px;
  }

  /*Acerca de mi*/

  .h2-1ac {
    font-size: 30px;
  }

  .divInt-1ac {
    margin: 150px 20px auto;
  }

  .img-1ac {
    margin: 150px auto 0px;
  }

  .divInt-2ac {
    margin: 120px 20px auto;
  }

  .h2-2ac {
    font-size: 30px;
    margin-top: 50px;
  }

  .divInt-3ac {
    margin: 120px 20px auto;
  }

  .h2-3ac {
    font-size: 30px;
    margin-top: 50px;
  }

  /*Educacion*/

  .hab {
    margin: 100px auto 0px;
    font-size: 35px;
  }
  .div-p p {
    margin: 30px 20px;
  }

  .table-1 {
    margin-top: 30px;
  }

  .div-est1 {
    padding: 10px;
    background-color: #27262c;
    border-radius: 10px;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-columns: 0fr 4fr 0fr;
    grid-template-rows: 0.1fr 3.1fr 1fr;
  }

  .div-2po {
    display: grid;
    grid-template-columns: 0fr 4fr 0fr;
    grid-template-rows: 0.1fr 2fr 1fr;
  }

  .h2-1po {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
  }
  .div-button-blog {
    grid-column: 2;
    grid-row: 2;
    margin-left: 70px;
  }
  .img-1po {
    width: 500px;
    height: 400px;
    margin: 20px 0px 25px;
  }

  .button-blog {
    margin: 0px 200px;
  }

  .divInt-1po {
    height: 140px;
    width: 100%;
    grid-column: 2;
    grid-row: 3;
    margin: 10px 0px 10px;
  }

  .Utilizado {
    margin: 20px 20px;
    width: 25%;
  }

  .h2-2po {
    font-size: 30px;
    margin: 40px 10px 0px;
    grid-column: 2;
    grid-row: 1;
  }

  .divInt-2po {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    margin: 10px 0px 10px;
  }

  .div-button-votante {
    grid-column: 2;
    grid-row: 2;
    margin-left: 47px;
  }

  .img-2po {
    margin: 20px 0px 25px;
  }

  .button-vot {
    margin: 0px 200px;
  }
}

/*393 x 873*/
@media screen and (max-width: 393px) {
  .menu-checkbox {
    display: block;
    margin-top: 17px;
    margin-right: 5px;
  }

  .btn-menu {
    width: 30px;
    height: 30px;
  }

  .nav {
    margin-top: 5px;
  }

  .nav-logo img {
    margin-top: 2px;
    margin-left: 3px;
    width: 70px;
  }

  .nav-back-i {
    margin-top: 0px;
    height: 50px;
  }

  /*Menu*/

  ul {
    margin-top: -3px;
    margin-left: 5px;
  }
  li {
    margin-left: -10px;
    padding: 10px 5px;
    font-size: 15px;
  }

  li:hover {
    border-bottom: 1px solid white;
    border-radius: 4px;
    padding: 1px;
  }

  li:hover:before {
    content: "";
  }

  li:hover:after {
    content: "";
  }

  /*Main index*/

  .body {
    background-size: cover;
    background-repeat: repeat;
  }

  .home-main-i {
    margin-top: 80px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0fr 4fr 0.5fr;
  }

  /*Main*/

  .home-main {
    grid-template-columns: 0.2fr 4fr 0.2fr;
  }

  .main-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*presentacion*/

  .main-presentacion {
    grid-template-columns: 0.3fr 5fr 0.3fr;
    grid-template-rows: 0.1fr 0.8fr 1.5fr 1.5fr 0.36fr;
  }

  .imghello {
    position: absolute;
    margin: 10px 30px 0px 0px;
    width: 100px;
  }

  .h2-1 {
    margin-top: 48px;
    margin-left: 30px;
    font-size: 25px;
  }

  .h2-2 {
    margin-top: 50px;
    margin-left: 80px;
    font-size: 25px;
  }

  .h3-rol {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 20px;
  }

  .datosP {
    height: 70%;
    width: 100%;
    margin: -30px 0px 0px;
    font-size: 13px;
  }

  .p-resultado {
    margin-left: 150px;
  }

  .p-resultado-i {
    margin-left: 150px;
  }

  .dato-intp {
    margin-left: -20px;
  }

  .imgM {
    width: 80%;
  }

  /*Acerca de mi*/
  .div-1ac {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
  }

  .div-2ac {
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
  }

  .h2-1ac {
    font-size: 30px;
    grid-column: 2;
    grid-row: 1;
  }

  .img-1ac {
    margin: 150px auto 0px;
    grid-column: 2;
    grid-row: 1;
  }

  .divInt-1ac {
    margin: 400px 0px auto;
    font-size: 13px;
    grid-column: 2;
    grid-row: 1;
  }

  .h2-2ac {
    font-size: 30px;
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
  }

  .img-2ac {
    margin: 90px auto 0px;
    grid-column: 2;
    grid-row: 1;
  }
  .divInt-2ac {
    margin: 320px 0px auto;
    font-size: 13px;
    grid-column: 2;
    grid-row: 1;
  }
  .h2-3ac {
    font-size: 30px;
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
  }
  .img-3ac {
    margin: 90px auto 0px;
    grid-column: 2;
    grid-row: 1;
  }
  .divInt-3ac {
    margin: 420px 20px auto;
    font-size: 13px;
    grid-column: 2;
    grid-row: 1;
  }

  /*Educacion*/

  .hab {
    margin: 10px auto 0px;
    font-size: 35px;
  }
  .div-p p {
    margin: 20px 0px;
    font-size: 13px;
  }

  .table-1 {
    margin-top: 20px;
  }

  .table-1 h2 {
    font-size: 18px;
  }

  .div-est1 img {
    width: 40px;
    margin: 10px 0px;
  }

  .div-est1 {
    font-size: 13px;
    padding: 10px;
    background-color: #27262c;
    border-radius: 10px;
  }

  /*Portafolio*/

  .div-1po {
    display: grid;
    grid-template-rows: 0.1fr 2.1fr 1fr;
  }

  .div-2po {
    display: grid;
    grid-template-rows: 0.1fr 1.3fr 1fr;
  }

  .h2-1po {
    font-size: 25px;
    margin: 65px 0px 0px;
    grid-row: 1;
  }

  .img-1po {
    width: 350px;
    height: 250px;
    background-position: 0px -30px;
    background-size: 370px 280px;
    margin: 20px 0px;
    grid-row: 2;
  }

  .div-button-blog {
    grid-row: 2;
    margin-left: 3px;
  }

  .button-blog {
    grid-row: 2;
    position: absolute;
    margin: 0px 120px;
  }

  .divInt-1po {
    height: 140px;
    width: 100%;
    grid-row: 3;
    font-size: 13px;
    margin: 10px 0px 10px;
  }

  .Utilizado {
    margin: 15px 5px;
    width: 28%;
  }

  .h2-2po {
    font-size: 25px;
    margin: 15px 0px 0px;
    grid-row: 1;
  }

  .img-2po {
    width: 350px;
    height: 250px;
    margin: 20px 0px;
    background-position: 0px -8px;
    background-size: 370px 280px;
    grid-row: 2;
  }

  .divInt-2po {
    height: 240px;
    width: 100%;
    grid-row: 3;
    font-size: 13px;
    margin: 10px 0px 10px;
  }

  .div-button-votante {
    grid-row: 2;
    margin-left: 3px;
  }

  .button-vot {
    position: absolute;
    margin: 0px 120px;
  }
}
/*375 x 667*/
@media screen and (max-width: 375px) {
}

/* 360 x 640*/
@media screen and (max-width: 360px) {
}

/*1080 x 2400*/
@media screen and (max-width: 1080px) {
  .menu-checkbox {
    display: block;
    margin-top: 35px;
    margin-right: 25px;
  }

  .btn-menu {
    width: 100px;
    height: 100px;
  }

  .nav {
    margin-top: 15px;
  }

  .nav-logo img {
    margin-top: 2px;
    margin-left: 3px;
    width: 170px;
  }

  .nav-back-i {
    margin-top: 0px;
    height: 140px;
  }

  /*Menu*/

  ul {
    margin-top: 30px;
    margin-left: 25px;
  }
  li {
    margin-left: -10px;
    padding: 10px 5px;
    font-size: 35px;
  }

  li:hover {
    border-bottom: 1px solid white;
    border-radius: 4px;
    padding: 1px;
  }

  li:hover:before {
    content: "";
  }

  li:hover:after {
    content: "";
  }

  /*Main index*/

  .body {
    background-size: cover;
    background-repeat: repeat;
  }

  .home-main-i {
    margin-top: 80px;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 0fr 4fr 0.5fr;
  }

  /*Main*/

  .home-main {
    grid-template-columns: 0.2fr 4fr 0.2fr;
  }

  .main-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*presentacion*/

  .main-presentacion {
    grid-template-columns: 0.3fr 5fr 0.3fr;
    grid-template-rows: 0.1fr 0.8fr 1.5fr 1.5fr 0.36fr;
  }

  .imghello {
    position: absolute;
    margin: 10px 30px 0px 0px;
    width: 100px;
  }

  .h2-1 {
    margin-top: 48px;
    margin-left: 30px;
    font-size: 25px;
  }

  .h2-2 {
    margin-top: 50px;
    margin-left: 80px;
    font-size: 25px;
  }

  .h3-rol {
    margin-top: 80px;
    margin-left: 30px;
    font-size: 20px;
  }

  .datosP {
    height: 70%;
    width: 100%;
    margin: -30px 0px 0px;
    font-size: 13px;
  }

  .p-resultado {
    margin-left: 150px;
  }

  .p-resultado-i {
    margin-left: 150px;
  }

  .dato-intp {
    margin-left: -20px;
  }

  .imgM {
    width: 80%;
  }